<div class="nav-container">
  <a href="../../index.html" class="nav-link">Home</a>
  <a href="../../posts/travel-food/index.html" class="nav-link">여행과 식도락</a>
  <span class="nav-link disabled">게임</span>
  <a href="../../posts/tech/index.html" class="nav-link">기술</a>
  <a href="../../posts/thoughts/index.html" class="nav-link">생각</a>
  <a href="../../microblog/microblog.html" class="nav-link">마이크로블로그</a>
  <a href="https://flickr.com/photos/202913508@N04/" class="nav-link" target="_blank" rel="noopener">사진들</a>
  <a href="https://www.instagram.com/garfield_kbm/" class="nav-link" target="_blank" rel="noopener">인스타그램</a>
</div>
